{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "globals": {
    "__non_webpack_require__": false
  },
  "rules": {
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "prefer-promise-reject-errors": 0
  }
}

